.taboola-below-article {
	padding: 12px 0;
	font-size: 12px;
	float:left;
	clear: inherit;
}

.taboola-aside {
	margin-top:24px;
	right: 0;
	width: 100%;
	.like-box, .follow-box {
		background: #fff;
		padding-bottom: 12px;
		margin-bottom: 24px;
		.fb-like {
			float: left;
			padding: 18px 20px 12px;
		}
		.twitter-follow-button {
			float: right;
			margin: 12px 20px;
		}
		h3 {
			font-family: $headline;
			text-transform: uppercase;
			margin: 18px 20px 0;
		}
		p {
			margin: 0 20px;
		}
	}
}

.taboola-block {
	border-top: 1px solid #c7d0d5;
	margin-top: 60px;
}

@include breakpoint(tablet) {
	.taboola-aside {
		margin-top:24px;
		right: 0;
		width: 100%;
		.like-box, .follow-box {
			width:49%;
			float:left;
		}
		.follow-box {
			margin-left: 2%;
		}
	}
}
@include breakpoint(desktop) {
	.taboola-below-article {
		width: 650px;
		border-right: 1px solid $hrld-dark-grey;
		padding-right:30px;
		padding-top: 60px;
		padding-bottom: 60px;

		/* sry */
		margin-bottom: -72px;
	}
	.taboola-aside {
		margin-top:66px;
		width: 300px;
		position: absolute;
		float:none;
		width: 300px;
		.like-box, .follow-box {
			width:100%;
		}
		.follow-box {
			margin-left: 0;
		}
	}
}

@include breakpoint(xl) {
	.taboola-below-article {
		width: 780px;	
	}
}