//
// Here for now.
// Style for analytic bridge thinggies.
.stats-today {
	font-family: monospace;
	font-size: 13px;
	display: inline-block;
	padding: 0 .1em;
	border-radius: 0px 5px 5px 0;
	opacity: .7;
}

.stats-yesterday {
	font-family: monospace;
	font-size: 13px;
	display: inline-block;
	padding: 0 .1em;
	border-radius: 5px 0px 0px 5px;
	margin-right: 0px;
	opacity:.3;
}

.title-stats {
	padding-left : 10px;
}


.sc-payment-details-wrap {
	background: #fff;
	margin-top: 36px;
	p {
		margin-right: 0;
	}
	.stripe-payment-details {
		display: block;
		border: 1px solid #a6b5bd;
		font-size: 14px;
		padding: 24px 20px;
		line-height: 18px;
		font-family: monospace;
	}
}

.stripe-campaign-ticker {
	font-family: $body;
	font-weight: bold;
	color: #a6b5bd;
	font-style: italic;
	margin-bottom:36px;
	margin-top:36px;

	.stripe-campaign-ticker-strip-inner {
		background: #2379d0;
		height:36px;
		position:relative;
		&:after {
			content: '';
			position: absolute;
			height: 38px;
			background: #2379d0;
			width:2px;
			right: 0;
			top:0px;
		}
	}
	.stripe-campaign-ticker-strip-outer {
		background: #fff;
		margin-bottom: 12px;
		overflow: hidden;
	}
	.stripe-campaign-number {
		font-family: $headline;
		color:#000;
	}
}

	.sc-checkout-form {

		max-width: 300px;
		background: white;
		margin-top: 0;

	}

	.sc-form-group {
		margin-bottom: 0;
		padding:18px 20px 0px;
		border-bottom: 1px solid $hrld-dark-grey;
		font-size: 16px;
		line-height: 16px;
		font-family: $headline;
		font-weight: normal;
	}

	.sc-payment-btn {
		margin:20px;
	}

@include breakpoint(tablet) {
	.sc-checkout-form {
		margin-left:80px;
	}
	.stripe-campaign-ticker {
		margin-left:80px;
	}
	.sc-payment-details-wrap {
		.sharebar {
			margin-left: 80px;
		}
	}


}



